.visual-container {
    margin: 137px auto 100px;
    width: 100%;

    .img-wrapper {
        position: relative;
        width: 100%;
        height: 500px;
        overflow: hidden;

        .img-list {
            height: 100%;
            display: flex;

            li {
                flex-shrink: 0;
                width: 100%;

                a {

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center center;
                    }
                }
            }
        }

        .dot-list {
            position: absolute;
            bottom: 5%;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            gap: 20px;

            li {
                width: 14px;
                height: 14px;
                background: rgba(255, 255, 255, 0.4);
                border: 2px solid transparent;
                background-clip: padding-box;
                border-radius: 50%;
                cursor: pointer;

                &:hover {
                    background: $backgroundColor;
                }

                &.on {
                    background: transparent;
                    border-color: $backgroundColor;
                }
            }


        }
    }
}

.top-wrapper {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: end;

    .title {
        color: $titleColor;
        font-size: $titleSize1920;
    }

    .s-more-btn {
        color: #666;
        border: solid 1px $borderColor;
        border-radius: 20px;
        padding: 2px 14px;
        background: $backgroundColor;
        font-size: 16px;
        transition: 300ms;

        &:hover {
            background: $btnBlack;
            color: $backgroundColor;
            border-color: $backgroundColor;
        }
    }
}

.ticket-container {
    margin-bottom: 160px;

    .inner {

        .game-wrapper {
            display: flex;
            justify-content: space-between;

            .game-total-box {

                .game-box {
                    display: flex;
                    flex-direction: column;
                    width: 200px;

                    .game-post {
                        width: 100%;
                        height: 250px;
                        border-radius: 5px;
                        position: relative;
                        overflow: hidden;

                        img {
                            width: 100%;
                            transition: 500ms;
                        }
                    }

                    .game-info {
                        .game-place {
                            margin-top: 20px;
                            font-size: 14px;
                            color: $subTextColor;
                            @include shortening(1, 14px);
                        }

                        .sub-title {
                            margin: 10px 0;
                            font-size: 18px;
                            color: $titleColor;
                            @include shortening(2, 22px);
                            height: 44px;

                        }

                        .game-date {
                            font-size: 16px;
                            color: $subTextColor;
                        }
                    }

                    &:hover {
                        .game-post {
                            img {
                                transform: scale(1.1);
                            }
                        }

                        .sub-title {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .btn-box {
            display: none;
            margin-top: 80px;
            justify-content: center;

            .b-more-btn {
                font-size: 20px;
                padding: 10px 50px;
                background: $subTextColor;
                border-radius: 30px;
                color: $backgroundColor;
                transition: 300ms;

                &:hover {
                    background: $btnRed;
                }
            }
        }

    }
}

.ex-container {
    margin-bottom: 160px;

    .inner {

        .ex-wrapper {
            display: flex;
            justify-content: space-between;

            .ex-box {

                .ex-item {
                    display: block;
                    width: 200px;

                    .ex-post {
                        width: 100%;
                        height: 250px;
                        border-radius: 5px;
                        position: relative;
                        overflow: hidden;

                        img {
                            width: 100%;
                        }

                        .post-blur {
                            flex-direction: column;
                            justify-content: space-around;
                            align-items: center;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            background: rgba(0, 0, 0, 0.5);
                            display: none;

                            .imposible {
                                color: $backgroundColor;
                                line-height: 1.5;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                            }

                            .detail-view {
                                display: flex;
                                width: 160px;
                                height: 36px;
                                border-radius: 10px;
                                background: $backgroundColor;
                                justify-content: center;
                                align-items: center;
                                font-size: 18px;
                                font-weight: bold;
                                color: $titleColor;
                            }
                        }
                    }

                    .ex-info {
                        .sub-title {
                            margin: 20px 0 10px;
                            font-size: 18px;
                            color: $titleColor;
                            @include shortening(2, 22px);
                            height: 44px;
                        }

                        .d-daybox {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .d-day {
                                font-size: 16px;
                                color: #ff4e43;
                            }
                        }
                    }

                    &:hover {
                        .sub-title {
                            text-decoration: underline;
                        }

                        .ex-post {
                            .post-blur {
                                display: flex;
                            }
                        }
                    }
                }
            }
        }

        .btn-box {
            display: none;
            margin-top: 80px;
            justify-content: center;

            .b-more-btn {
                font-size: 20px;
                padding: 10px 50px;
                background: $subTextColor;
                border-radius: 30px;
                color: $backgroundColor;
                transition: 300ms;

                &:hover {
                    background: $btnRed;
                }
            }
        }
    }
}

.schedule-container {
    margin-bottom: 160px;

    .inner {
        .schedule-top {
            width: 100%;
            height: 90px;
            margin-bottom: 40px;
            border-bottom: 1px solid #888;
            position: relative;
        }

        .schedule-bottom {
            margin-bottom: 100px;
            overflow: hidden;

            .schedule-table-wrapper {
                display: flex;
                margin-bottom: 100px;

                .btn-box {
                    position: relative;
                    width: 100%;
                    display: none;

                    .tbody-prev {
                        position: absolute;
                        top: -6px;
                        left: 0;
                        height: 54px;
                        background-image: linear-gradient(to right, $backgroundColor, transparent);
                        z-index: 1;

                        .bx-chevron-left {
                            font-size: 34px;
                        }
                    }

                    .tbody-next {
                        position: absolute;
                        top: -6px;
                        right: 0;
                        height: 54px;
                        background-image: linear-gradient(to left, $backgroundColor, transparent);
                        z-index: 1;

                        .bx-chevron-right {
                            font-size: 34px;
                        }

                    }
                }

                .schedule-table {
                    padding: 30px;
                    width: 40%;
                    box-sizing: border-box;
                    border-right: 1px solid $borderColor;

                    .ui-datepicker-inline {
                        .ui-datepicker-header {
                            position: absolute;
                            top: 20px;
                            left: 50%;
                            transform: translateX(-50%);
                            font-size: 50px;

                            .ui-datepicker-title {
                                color: $titleColor;
                                display: flex;
                                flex-direction: row-reverse;
                            }

                            .ui-datepicker-next {
                                position: absolute;
                                right: -70px;
                                top: 5px;
                                cursor: pointer;
                                color: $btnBlack;
                            }

                            .ui-datepicker-prev {
                                position: absolute;
                                left: -70px;
                                top: 5px;
                                cursor: pointer;
                                color: $btnBlack;
                            }
                        }

                        .ui-datepicker-calendar {
                            width: 100%;

                            thead {
                                tr {
                                    th {
                                        padding-bottom: 30px;

                                        &:first-child {
                                            color: #ff6363;
                                        }

                                        &:last-child {
                                            color: #7087ff;
                                        }
                                    }
                                }
                            }

                            tbody {
                                position: relative;

                                tr {
                                    td {
                                        padding-top: 10px;

                                        a {
                                            display: block;
                                            width: 30px;
                                            height: 30px;
                                            text-align: center;
                                            line-height: 30px;
                                            margin: 0 auto;
                                            border-radius: 50%;
                                            color: $subTextColor;
                                            transition: 500ms;
                                        }

                                        &:first-child a {
                                            color: #ff6363;
                                        }

                                        &:last-child a {
                                            color: #7087ff;
                                        }

                                        a.ui-state-active {
                                            background: #ff6363;
                                            color: $backgroundColor;
                                        }

                                        .ui-state-default:hover {
                                            background: #ff6363;
                                            color: $backgroundColor;
                                        }
                                    }
                                }
                            }
                        }
                    }

                }


                .schedule-game {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    padding: 30px;
                    box-sizing: border-box;
                    width: 60%;
                    gap: 20px 0;

                    .g-time-wrap {
                        width: calc(100% / 3);
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;

                        .g-time-box {
                            width: 200px;
                            height: 140px;
                            border: 1px solid $borderColor;
                            box-sizing: border-box;
                            border-radius: 10px;
                            padding: 14px 14px 12px;
                            display: flex;
                            flex-direction: column;

                            &:hover {
                                border-color: $subTextColor;

                            }

                            .g-time-top {
                                display: flex;
                                justify-content: space-between;
                                align-items: flex-end;
                                margin-bottom: auto;

                                .g-time {
                                    color: $titleColor;
                                    font-size: 16px;
                                }

                                .g-league {
                                    font-size: 14px;
                                    color: #888;
                                }
                            }

                            .g-bottom {
                                display: flex;
                                justify-content: center;
                                gap: 12px;

                                .g-bottom-left {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: flex-end;
                                    gap: 6px;

                                    .team {
                                        font-size: 16px;
                                        color: $titleColor;
                                    }

                                    .img-wrap {
                                        width: 60px;

                                        img {
                                            width: 100%;
                                        }
                                    }
                                }

                                .g-bottom-mid {
                                    margin-top: 20px;

                                    .text {
                                        color: $subTextColor;
                                        font-weight: bold;
                                        font-size: 16px;
                                    }
                                }

                                .g-bottom-right {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: flex-end;
                                    gap: 6px;

                                    .team {
                                        font-size: 16px;
                                        color: $titleColor;
                                    }

                                    .img-wrap {
                                        width: 60px;

                                        img {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }

                    }

                }
            }
        }

        .btn-box {
            display: flex;
            justify-content: center;

            .b-more-btn {
                font-size: 30px;
                padding: 10px 50px;
                background: $subTextColor;
                border-radius: 30px;
                color: $backgroundColor;
                transition: 300ms;

                &:hover {
                    background: $btnRed;
                }
            }
        }
    }
}

.event-container {
    margin-bottom: 80px;
    padding: 0 20px;

    .event-mo {
        display: none;
        width: 100%;
        height: 100px;
        background: url(../../images/event_mo.png) no-repeat center center / 100%;
        border-radius: 10px;
        overflow: hidden;
    }

}

.team-container {
    width: 100%;
    background: #f6f6f6;
    padding: 50px 0 80px;
    margin-bottom: 160px;
    box-sizing: border-box;

    .inner {
        .league-box {
            display: flex;
            gap: 16px;
            margin-bottom: 70px;

            li {
                a {
                    display: flex;
                    align-items: center;
                    padding: 6px 14px;
                    background: $backgroundColor;
                    border: 1px solid $borderColor;
                    border-radius: 30px;
                    color: $subTextColor;
                    transition: 300ms;

                    &:hover {
                        border-color: $btnBlack;
                    }
                }

                .on {
                    background: $btnBlack;
                    border-color: $btnBlack;
                    color: $backgroundColor;
                    font-weight: bold;
                }
            }
        }

        .team-box {

            li {
                ul {
                    width: 100%;
                    display: flex;
                    gap: 50px 0;
                    flex-wrap: wrap;

                    li {
                        border-radius: 50%;
                        width: calc(100% / 8);
                        display: flex;
                        justify-content: center;

                        a {
                            display: flex;
                            width: 100px;
                            height: 100px;
                            border-radius: 50%;
                            border: 1px solid $borderColor;
                            justify-content: center;
                            align-items: center;
                            background: $backgroundColor;
                            box-sizing: border-box;
                            overflow: hidden;

                            img {
                                width: 80px;
                                transition: 300ms;
                            }

                            &:hover {
                                border-color: $btnBlack;

                                img {
                                    transform: scale(1.1);
                                }
                            }
                        }
                    }
                }
            }
        }

        .btn-box {
            display: none;
            margin-top: 80px;
            justify-content: center;

            .b-more-btn {
                font-size: 20px;
                padding: 10px 50px;
                background: $subTextColor;
                border-radius: 30px;
                color: $backgroundColor;
                transition: 300ms;

                &:hover {
                    background: $btnRed;
                }
            }
        }

    }
}

.stadium-container {
    width: 100%;
    margin-bottom: 160px;

    .title {
        color: $titleColor;
        font-size: $titleSize1920;
        text-align: center;
        margin-bottom: 100px;
    }

    .stadium-wrap {
        overflow: hidden;
        display: flex;
        width: 100%;
        position: relative;
        margin-bottom: 90px;

        .stadium-list {
            display: flex;
            position: absolute;
            top: 0;
            left: 0;

            li {
                margin-right: 60px;

                a {
                    display: flex;
                    width: 320px;
                    height: 320px;
                    border-radius: 10px;
                    overflow: hidden;
                    position: relative;

                    img {
                        width: 100%;
                        object-fit: cover;
                    }

                    .img-mask {
                        width: 100%;
                        height: 100%;
                        background: rgba(0, 0, 0, 0.5);
                        color: $backgroundColor;
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: none;
                        justify-content: center;
                        align-items: center;
                        font-size: 24px;
                        font-weight: bold;
                        transition: 500ms;
                    }

                    &:hover .img-mask {
                        display: flex;
                    }
                }
            }
        }
    }

    .btn-box {
        display: flex;
        justify-content: center;

        .b-more-btn {
            font-size: 30px;
            padding: 10px 50px;
            background: $subTextColor;
            border-radius: 30px;
            color: $backgroundColor;
            transition: 300ms;

            &:hover {
                background: $btnRed;
            }
        }
    }
}

.notice-container {
    margin-bottom: 240px;

    .inner {
        display: flex;
        gap: 4%;

        .news-wrapper {
            width: 48%;

            .text-wrapper {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .text {
                    display: flex;
                    justify-content: space-between;

                    &:hover {
                        p {
                            text-decoration: underline;
                        }
                    }

                    p {
                        @include shortening(1, 24px);
                        font-size: 16px;
                        color: $btnBlack;
                        width: 80%;
                        line-height: 1.5;
                    }

                    span {
                        font-size: 14px;
                        color: #666;
                    }
                }
            }
        }

        .notice-wrapper {
            width: 48%;

            .text-wrapper {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .text {
                    display: flex;
                    justify-content: space-between;

                    &:hover {
                        p {
                            text-decoration: underline;
                        }
                    }

                    p {
                        @include shortening(1, 24px);
                        font-size: 16px;
                        color: $btnBlack;
                        width: 80%;
                        line-height: 1.5;
                    }

                    span {
                        font-size: 14px;
                        color: #666;
                    }
                }
            }
        }
    }
}

//media query
@media (max-width:1300px) {

    body,
    html {
        main {

            .visual-container {
                margin-top: 129px;

                .img-wrapper {
                    height: 40vw;

                }
            }

            .ticket-container {
                padding: 0 30px;

                .inner {
                    width: 100%;

                    .game-wrapper {
                        justify-content: space-around;

                        .game-total-box {

                            &:last-child {
                                display: none;
                            }
                        }
                    }
                }
            }

            .ex-container {
                padding: 0 30px;

                .inner {
                    width: 100%;

                    .ex-wrapper {
                        justify-content: space-around;

                        .ex-box {
                            &:last-child {
                                display: none;
                            }
                        }
                    }
                }
            }

            .schedule-container {
                padding: 0 30px;

                .inner {
                    width: 100%;

                    .schedule-bottom {
                        .schedule-table-wrapper {
                            .schedule-table {
                                width: 480px;
                            }

                            .schedule-game {
                                gap: 30px 0;
                                width: calc(100% - 480px);
                                padding: 20px;
                                align-content: space-between;

                                .g-time-wrap {
                                    width: 50%;
                                }
                            }

                        }
                    }
                }
            }

            .event-container {
                .event-mo {
                    display: block;
                }
            }

            .team-container {
                padding: 50px 30px;

                .inner {
                    width: 100%;

                    .team-box {
                        li {
                            ul {
                                li {
                                    width: calc(100% / 6);
                                }
                            }
                        }
                    }
                }
            }

            .stadium-container {
                .stadium-wrap {
                    .stadium-list {
                        li {
                            a {
                                width: 240px;
                                height: 240px;
                            }
                        }
                    }
                }
            }

            .notice-container {
                padding: 0 30px;

                .inner {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width:1024px) {

    body,
    html {
        main {
            .visual-container {
                margin-top: 61px;
            }

            .ticket-container {
                padding: 0 20px;

                .inner {
                    .game-wrapper {
                        flex-wrap: wrap;
                        gap: 50px;

                        .game-total-box {
                            &:nth-child(3) {
                                display: none;
                            }
                        }
                    }
                }
            }

            .ex-container {
                padding: 0 20px;

                .inner {
                    .ex-wrapper {
                        flex-wrap: wrap;
                        gap: 50px;

                        .ex-box {
                            &:nth-child(3) {
                                display: none;
                            }
                        }
                    }
                }
            }

            .schedule-container {
                padding: 0 20px;

                .inner {
                    .schedule-bottom {
                        .schedule-table-wrapper {
                            flex-direction: column;

                            .schedule-table {
                                border-right: none;
                                margin: 0 auto;
                            }

                            .schedule-game {
                                width: 100%;

                                .g-time-wrap {
                                    width: calc(100% / 3);
                                }
                            }
                        }
                    }
                }
            }

            .team-container {
                padding: 50px 20px;

                .inner {

                    .team-box {
                        li {
                            ul {
                                li {
                                    width: calc(100% / 5);
                                }
                            }
                        }
                    }
                }
            }

            .stadium-container {
                .stadium-wrap {
                    .stadium-list {
                        li {
                            a {
                                width: 200px;
                                height: 200px;

                                .img-mask {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
            }

            .notice-container {
                padding: 0 20px;

                .inner {
                    flex-direction: column;
                    align-items: center;
                    gap: 80px;

                    .news-wrapper {
                        width: 80%;
                    }

                    .notice-wrapper {
                        width: 80%;
                    }
                }
            }
        }
    }
}

@media (max-width:768px) {

    body,
    html {
        main {
            .visual-container {
                margin-top: 51px;
            }

            .top-wrapper {
                flex-wrap: wrap;
                gap: 10px;

                .title {
                    font-size: 24px;
                }
            }

            .ticket-container {
                .inner {
                    .top-wrapper {
                        justify-content: center;

                        .s-more-btn {
                            display: none;
                        }
                    }

                    .game-wrapper {

                        .game-total-box {
                            width: 200px;

                            &:nth-child(4) {
                                display: none;
                            }

                            .game-box {

                                .game-info {

                                    .game-place {
                                        display: none;

                                    }
                                }
                            }
                        }
                    }

                    .btn-box {
                        display: flex;
                    }
                }
            }

            .ex-container {
                .inner {
                    .top-wrapper {
                        justify-content: center;

                        .s-more-btn {
                            display: none;
                        }
                    }

                    .ex-wrapper {
                        .ex-box {
                            width: 200px;

                            &:nth-child(3),
                            &:nth-child(4) {
                                display: none;
                            }
                        }
                    }

                    .btn-box {
                        display: flex;
                    }
                }
            }

            .schedule-container {

                .inner {
                    .schedule-top {
                        margin-bottom: 10px;
                        height: 80px;
                    }

                    .schedule-bottom {
                        .schedule-table-wrapper {
                            .btn-box {
                                display: block;
                            }

                            .schedule-table {
                                padding: 0;
                                margin: 0;

                                .ui-datepicker-inline {
                                    .ui-datepicker-header {
                                        .ui-datepicker-title {
                                            span {
                                                font-size: 40px;
                                            }
                                        }

                                        .ui-datepicker-next {
                                            right: -60px;
                                            top: 0px;
                                        }

                                        .ui-datepicker-prev {
                                            left: -60px;
                                            top: 0px;
                                        }
                                    }

                                    .ui-datepicker-calendar {
                                        overflow: hidden;

                                        thead {
                                            display: none;
                                        }

                                        tbody {
                                            display: flex;
                                            gap: 20px;
                                            margin-bottom: 10px;

                                            tr {
                                                display: flex;
                                                gap: 20px;

                                                td {
                                                    padding-top: 0;

                                                    a {
                                                        font-size: 20px;
                                                        width: 40px;
                                                        height: 40px;
                                                        line-height: 40px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .schedule-game {
                                border-top: 1px solid $borderColor;
                                padding: 40px 20px;

                                .g-time-wrap {
                                    width: 50%;
                                }
                            }
                        }
                    }

                    .btn-box {
                        .b-more-btn {
                            font-size: 20px;
                        }
                    }
                }
            }

            .event-container {
                .event-mo {
                    background-size:auto 100%;
                }
            }

            .team-container {
                padding: 50px 30px;

                .inner {
                    width: 100%;

                    .top-wrapper {
                        justify-content: center;

                        .s-more-btn {
                            display: none;
                        }
                    }

                    .league-box {
                        flex-wrap: wrap;

                        li {
                            a {
                                font-size: 14px;
                            }
                        }
                    }

                    .team-box {
                        li {
                            ul {
                                li {
                                    width: 110px;

                                    a {
                                        width: 80px;
                                        height: 80px;

                                        img {
                                            width: 60px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .btn-box {
                        display: flex;
                    }
                }
            }

            .stadium-container {
                .title {
                    font-size: 24px;
                }

                .stadium-wrap {
                    .stadium-list {

                        li {
                            margin-right: 30px;

                            a {
                                width: 150px;
                                height: 150px;

                                .img-mask {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }

                .btn-box {
                    .b-more-btn {
                        font-size: 20px;
                    }
                }
            }

            .notice-container {
                .inner {
                    .news-wrapper {
                        width: 100%;

                        .text-wrapper {
                            .text {
                                p {
                                    width: 60%;
                                }
                            }
                        }
                    }

                    .notice-wrapper {
                        width: 100%;

                        .text-wrapper {
                            .text {
                                p {
                                    width: 60%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:500px) {

    body,
    html {
        main {
            .visual-container {
                .img-wrapper {
                    height: 60vw;
                }
            }

            .schedule-container {
                .inner {
                    .schedule-bottom {
                        .schedule-table-wrapper {
                            .schedule-game {
                                gap: 30px;

                                .g-time-wrap {
                                    width: 100%;
                                    justify-content: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}