.inner {
    .select-box {
        margin-top: 137px;
        padding: 50px 0 60px;

        .large-scale {
            margin-bottom: 34px;
            display: flex;

            a {
                color: #999;
                font-size: 34px;
                font-weight: bold;
                padding-left: 16px;
                display: flex;

                &:first-child {
                    padding-left: 0;
                    color: $titleColor;
                }

                &:after {
                    content: '';
                    display: block;
                    width: 1px;
                    height: 30px;
                    background: $borderColor;
                    margin: 3px 0 0 16px;
                }

                &:last-child:after {
                    display: none;
                }

                &:hover {
                    color: #666;
                }
            }
        }

        .middle-scale {
            margin-bottom: 30px;
            display: flex;
            gap: 16px;
            flex-wrap: wrap;

            a {
                display: flex;
                color: $subTextColor;
                border: 1px solid $borderColor;
                border-radius: 30px;
                padding: 6px 14px 7px;

                &:hover {
                    border-color: $btnBlack;
                }

                &.on {
                    border-color: $btnBlack;
                    background: $btnBlack;
                    color: $backgroundColor;
                }
            }
        }

        .small-scale {
            display: flex;
            gap: 40px 60px;
            flex-wrap: wrap;

            .game-box {
                display: flex;
                gap: 60px;
                flex-wrap: wrap;

                a {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    align-items: center;

                    &:hover {
                        .img-box {
                            border-color: $btnBlack;
                        }
                    }

                    &.on {
                        .img-box {
                            border: 3px solid $logoColor;
                        }
                    }

                    .img-box {
                        width: 70px;
                        height: 70px;
                        border: 1px solid $borderColor;
                        border-radius: 50%;
                        overflow: hidden;
                        box-sizing: border-box;
                        display: flex;
                        align-items: center;

                        img {
                            width: 100%;
                        }
                    }

                    .img-text {
                        p {
                            color: $subTextColor;
                        }
                    }
                }
            }
        }
    }

    .result-container {
        margin-bottom: 120px;

        .calendar-wrap {
            .year-wrap {
                display: flex;
                justify-content: center;
                margin-bottom: 16px;

                button {
                    color: #999;
                    font-size: 50px;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    cursor:default;
                }

                .year-box {
                    width: 150px;
                    height: 50px;

                    .this-year {
                        text-align: center;
                        font-size: 50px;
                        line-height: 0.8;
                    }
                }
            }

            .month-wrap {
                border-top: 1px solid $borderColor;
                border-bottom: 1px solid $borderColor;
                height: 50px;
                box-sizing: border-box;

                .month-pc {
                    display: flex;
                    justify-content: space-around;
                    line-height: 48px;

                    li {
                        a {
                            font-size: 20px;
                            color: $subTextColor;
                            &:hover{
                                color:$logoColor;
                            }

                        }

                        &.on {
                            a {
                                color: $logoColor;
                            }
                        }
                    }
                }

                .month-mo-wrap {
                    position: relative;
                    height: 100%;
                    display: none;
                    overflow: hidden;

                    button {
                        width: 50px;
                        height: 50px;
                        font-size: 30px;
                        color: $subTextColor;
                        position: absolute;
                        top: 2px;
                        z-index: 1;
                    }

                    .month-prev {
                        background-image: linear-gradient(to right, $backgroundColor 60%, transparent);
                        left: 0;
                    }

                    .month-next {
                        background-image: linear-gradient(to left, $backgroundColor 60%, transparent);
                        right: 0;
                    }

                    .month-mo-list {
                        display: flex;
                        position: absolute;
                        left: 50px;
                        top: 15px;
                        width: 800px;
                        justify-content: space-around;

                        li {
                            a {
                                font-size: 20px;
                                color: $subTextColor;
                                &:hover{
                                    color:$logoColor;
                                }
                            }

                            &.on {
                                a {
                                    color: $logoColor;
                                }
                            }
                        }
                    }
                }
            }
        }

        .result-wrap {
            display: none;
            .none-play {
                font-size: 30px;
                font-weight: bold;
                color: #999;
                text-align: center;
                margin-top: 30px;
            }

            .mon {
                display: none;
                .game-date {
                    .date-box {
                        border-bottom: 1px solid $borderColor;
                        background: #fff0f0;
                        padding: 10px 26px;
                        display: flex;
                        justify-content: space-between;

                        .date {
                            color: $titleColor;
                            font-size: 20px;
                        }

                        .place {
                            color: #666;
                            display: none;
                        }
                    }

                    .game-info {
                        border-bottom: 1px solid $borderColor;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 4px 0;

                        .left {
                            display: flex;
                            align-items: center;
                            margin-left: 26px;

                            .time {
                                font-size: 18px;
                                color: $titleColor;
                                padding-right: 60px;

                                &:after {
                                    content: "종료";
                                    display: inline-block;
                                    padding: 4px;
                                    color: #999;
                                    background: #ececec;
                                    border-radius: 3px;
                                    font-size: 14px;
                                    margin-left: 10px;
                                }
                            }

                            .round {
                                font-size: 16px;
                                color: #666;
                            }
                        }

                        .center {
                            display: flex;
                            align-items: center;

                            .home {
                                display: flex;
                                align-items: center;

                                .team {
                                    color: $titleColor;
                                    font-size: 18px;
                                    width: 200px;
                                    text-align: right;
                                    margin-right: 14px;
                                    @include shortening(1, 0);
                                }

                                .score {
                                    font-size: 24px;
                                    color: #999;
                                }
                            }

                            .vs {
                                color: $borderColor;
                                margin: 0 10px;
                            }

                            .away {
                                display: flex;
                                align-items: center;

                                .team {
                                    color: $titleColor;
                                    font-size: 18px;
                                    margin-left: 14px;
                                    width: 200px;
                                    @include shortening(1, 0);
                                }

                                .score {
                                    font-size: 24px;
                                    color: #999;
                                }
                            }
                        }

                        .right {
                            display: flex;
                            align-items: center;
                            margin-right: 26px;

                            .replay {
                                color: #555;
                                border: 1px solid $borderColor;
                                border-radius: 5px;
                                display: flex;
                                padding: 6px;
                                margin-right: 50px;

                                &:hover {
                                    border-color: $btnBlack;
                                }
                            }

                            .place {
                                color: #666;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }

}

@media (max-width:1300px) {

    body,
    html {
        .sub01 {
            .inner {
                width: 100%;
                padding: 0 30px;
                box-sizing: border-box;

                .select-box {
                    margin-top: 129px;
                }

                .result-container {
                    .result-wrap {
                        .mon {
                            .game-date {
                                .game-info {
                                    .left {
                                        .time {
                                            padding-right: 30px
                                        }
                                    }

                                    .right {
                                        .replay {
                                            font-size: 14px;
                                            margin-right: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}

@media (max-width:1024px) {

    body,
    html {
        .sub01 {
            .inner {
                padding: 0 20px;

                .select-box {
                    margin-top: 61px;
                    padding: 42px 0 48px;

                    .small-scale {
                        gap: 30px 40px;

                        .game-box {
                            gap: 40px;

                            a {
                                gap: 8px;

                                .img-box {
                                    width: 58px;
                                    height: 58px;
                                }
                            }
                        }
                    }
                }

                .result-container {
                    .result-wrap {
                        .mon {
                            .game-date {
                                .date-box {
                                    .place {
                                        display: block;
                                    }
                                }

                                .game-info {
                                    flex-direction: column;
                                    align-items: start;

                                    .left {
                                        padding: 10px 0;
                                    }

                                    .center {
                                        padding: 10px 0;
                                        margin: 0 auto;

                                        .home .team,
                                        .away .team {
                                            width: 300px;
                                        }
                                    }

                                    .right {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:768px) {

    body,
    html {
        .sub01 {
            .inner {
                .select-box {
                    margin-top: 51px;
                    padding: 20px 0 34px;

                    .large-scale {
                        margin-bottom: 20px;

                        a {
                            font-size: 20px;

                            &:after {
                                height: 16px;
                                margin-top: 4px;
                            }
                        }
                    }

                    .middle-scale {
                        margin-bottom: 20px;

                        a {
                            font-size: 14px;
                        }
                    }

                    .small-scale {
                        gap: 14px 20px;

                        .game-box {
                            gap: 20px;
                        }
                    }
                }

                .result-container {
                    .calendar-wrap {
                        .year-wrap {
                            button {
                                font-size: 30px;
                            }

                            .year-box {
                                height: 40px;

                                .this-year {
                                    font-size: 40px;
                                }
                            }
                        }

                        .month-wrap {
                            .month-pc {
                                display: none;
                            }

                            .month-mo-wrap {
                                display: flex;
                            }
                        }
                    }

                    .result-wrap {
                        .mon {
                            .game-date {
                                .game-info {

                                    .left {
                                        .time {
                                            padding-right: 10px;
                                        }
                                    }

                                    .center {

                                        .home .team,
                                        .away .team {
                                            width: 150px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:500px) {

    body,
    html {
        .sub01 {
            .inner {

                .result-container {
                    .result-wrap {
                        .none-play {
                            font-size: 20px;
                        }

                        .mon {
                            .game-date {

                                .game-info {
                                    .center {
                                        flex-direction: column;
                                        gap: 10px;
                                        align-items: end;
                                        margin-right: 26px;

                                        .vs {
                                            display: none;
                                        }

                                        .home .team {
                                            width: 250px;
                                        }

                                        .away {
                                            margin-right: 0;
                                        }

                                        .away .team {
                                            order: -1;
                                            text-align: right;
                                            margin: 0 14px 0 0;
                                            width: 250px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}